@import "tailwindcss";

@theme {
  --color-red: #c73b0f;
  --color-white: #fff;
  --color-black: #000;
  --color-green: #1ea575;
  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;
}

body {
  background-color: var(--color-rose-50);
}
